<div class="helloModule" data-dojo-id="helloModuleContainer">
    <div data-dojo-attach-point="gridContainer" style="width:100%;height:200px">
    </div>
    <div data-dojo-type="dijit.layout.ContentPane">
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'Hello Shell'" data-dojo-attach-event="onClick: helloShell" type="button">
        </button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'Hello All'" data-dojo-attach-event="onClick: helloAll" type="button">
        </button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'Hello Red'" data-dojo-attach-event="onClick: helloRed" type="button">
        </button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'Hello Green'" data-dojo-attach-event="onClick: helloGreen" type="button">
        </button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'Hello Blue'" data-dojo-attach-event="onClick: helloBlue" type="button">
        </button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'Close'" data-dojo-attach-event="onClick: closeModule" type="button">
        </button>
    </div>
</div>
